body {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
}
.whole_container {
  margin-top: 5%;
}
.buttons {
  width: 80%;
}
.new {
  float: left;
  margin-left: 0;
}
.start {
  float: right;
  margin-right: 5%;
}
.data-single {
  display: inline-block;
}
#speed-data,
#swap {
  margin-left: 5%;
}
#comp,
#swap {
  color: red;
}
select {
  padding: 1%;
  width: 80%;
  margin-bottom: 5%;
  background-color: #0ff;
  border-radius: 5px;
  margin-right: 5%;
}
@media screen and (max-width: 1100px) {
  .simulator {
    width: 100%;
    position: relative;
    margin-left: 1%;
  }
  .array-box {
    height: 100%;
    padding: 5%;
    overflow: hidden;
  }
  .array-bar {
    display: inline-block;
    background-color: #fff;
  }
  .controls {
    margin-left: 5%;
    padding-top: 5%;
    padding-bottom: 10%;
    color: #fff;
  }
  .title {
    display: none;
  }
  .real-controls {
    width: 100%;
    margin: auto;
  }
  hr {
    margin-right: 20px;
    height: 2px;
    background-color: #fff;
  }
  .data {
    width: 80%;
    margin: auto;
  }
  .buttons {
    margin-top: 5%;
    width: 100%;
  }
  .new {
    width: 40%;
    float: none;
  }
  .start {
    width: 40%;
    margin-right: 5%;
  }
  #size,
  #speed {
    width: 80%;
    margin: 2 0;
  }
}
@media screen and (min-width: 1100px) {
  .simulator {
    width: 65%;
    float: left;
    position: absolute;
    left: 1%;
    margin-left: 1%;
  }
  .array-box {
    height: 450px;
    padding: 5% 10px 10px;
    overflow: hidden;
  }
  .array-bar {
    display: inline-block;
    background-color: #fff;
  }
  .array-bar:hover {
    background-color: green;
  }
  .controls {
    margin-left: 70%;
    height: 80vh;
    padding-top: 5%;
    color: #fff;
  }
  .title {
    width: 100%;
    margin-bottom: 10%;
  }
  .real-controls {
    width: 80%;
    margin: auto;
  }
  hr {
    margin-right: 20px;
    background-color: #fff;
    height: 2px;
  }
  .data {
    width: 80%;
    margin: auto;
  }
  #size,
  #speed {
    width: 80%;
    margin: 2 0;
  }
  input[type="range"] {
    height: 10%;
    cursor: all-scroll;
  }
}
input[type="range"] {
  height: 10%;
  border-radius: 5px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000;
  background: orange;
  border-radius: 14px;
  border: 1px solid #000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000;
  border: 1px solid #000;
  height: 30px;
  width: 30px;
  border-radius: 11px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13.5px;
  background-image: url(./lighting.b91d2b1a.svg);
  border-radius: 50%;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: orange;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000;
  background: orange;
  border-radius: 14px;
  border: 1px solid #000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000;
  border: 1px solid #000;
  height: 30px;
  width: 30px;
  background: #000;
  cursor: pointer;
  background-image: url(./lighting.b91d2b1a.svg);
  border-radius: 50%;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: orange;
  border: 1px solid #000;
  border-radius: 28px;
  box-shadow: 1px 1px 1px #000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000;
  border: 1px solid #000;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  background-image: url(./lighting.b91d2b1a.svg);
}
input[type="range"]:focus::-ms-fill-lower,
input[type="range"]:focus::-ms-fill-upper {
  background: orange;
}
/*# sourceMappingURL=main.96684d2b.chunk.css.map */
